   .header {
     display: flex;
     flex-direction: row;
     justify-content: end;
     flex-wrap: nowrap;
   }

   .inner-container {
     display: flex;
     place-content: center;
     margin-right: 40%;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

   .main-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

   .submain-content {
     display: flex;
     flex-direction: column;
     width: 40rem;
     align-items: center;
     text-align: justify;
     justify-content: space-around;
     align-content: center;
   }

   .title {
     margin-top: 10%;
     font-size: 80%;
     font-weight: lighter;
   }

   .content-container {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     margin-bottom: 0;
   }

   .content-align {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     padding-top: 5%;
     margin-top: 5%;
   }

   .content-align img {
     width: 18%;
     height: 18%;
     margin-top: 15%;
     padding-left: 25%;
     padding-right: 25%;
   }

   a {
     text-decoration: none;
     color: #31CAE5;
   }

   .second-header {
     padding-top: 30%;
     padding-bottom: 30%;
   }

   .logo-icon {
     width: 15%;
   }

   .content-menu {
     flex-direction: row;
     display: flex;
     align-items: baseline;
     justify-content: center;
     row-gap: 0;
     margin-left: 60%;
     width: 25%;
     margin-top: 5%;
     margin-bottom: 0%;
     height: 20%;
   }

   .minion-image {
     flex-direction: row;
     display: flex;
     justify-content: center;
     align-content: center;
     width: 50%;
     height: 20%;
     margin: auto;
   }

   .menu-home-button {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgb(37, 196, 139);
     font-size: 35%;
     color: #fff;
     padding: 30%;
     height: 15%;
   }

   .menu-image {
     width: 1rem;
   }

   .menu-pages-button {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgb(252, 188, 4);
     font-size: 35%;
     color: #fff;
     padding: 30%;
     height: 15%;
   }

   .menu-portfolio-button {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgb(20, 148, 188);
     font-size: 35%;
     color: #fff;
     padding: 30%;
     height: 15%;
   }

   .menu-blog-button {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgb(220, 100, 100);
     font-size: 35%;
     color: #fff;
     padding: 30%;
     height: 15%;
   }

   .menu-email-button {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgb(20, 108, 164);
     font-size: 35%;
     color: #fff;
     padding: 30%;
     height: 15%;
   }

   .intro-image {
     width: 165%;
   }

   .main-intro-text {
     display: flex;
     align-items: center;
     justify-content: center;
   }

   .content-parragraphs {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 40%;
     text-align: center;
     align-items: center;
     justify-content: center;
     align-content: center;
     padding-right: 7%;
   }

   .title-small {
     font-size: 50%;
     text-align: center;
   }

   .about-us-icons {
     width: 20%;
     height: 20%;
   }

   .inner-content-samples {
     display: flex;
     flex-direction: row;
     gap: 1rem;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .service-section {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }

   .section-about-us {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .sample-text {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 40%;
   }

   .section-content-projects {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .inner-content-main {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
   }

   .section-content-latest {
     display: flex;
     flex-direction: column;
     width: 50.25rem;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .sample-images {
     width: 25%;
     height: 25%;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .inner-content-projects {
     display: flex;
     flex-direction: row;
     width: 50.5rem;
     gap: 1rem;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .content-closing-header {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .content-logos {
     display: flex;
     width: 37.25rem;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .section-client-logos {
     display: flex;
     gap: 1rem;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .section-content-sample-menu {
     display: flex;
     flex-direction: row;
     margin-bottom: 2rem;
     align-items: center;
     justify-content: center;
     align-content: center;

   }

   .closing-sample-image {
     width: 37%;
     height: 17%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .closing-images {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;
   }

   .logo-image {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;
     width: 20%;
     height: 10%;

   }

   footer {
     background-color: rgb(22, 36, 47);
     color: white;
     width: 100%;
     margin-top: 3rem;
     font-size: small;
     gap: 1rem;
     padding-top: 1rem;
     padding-bottom: 1rem;
   }

   footer p {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
   }

   .container {
     width: 100%;

   }

   .item {
     display: flex;
     flex-wrap: wrap;
     width: 45rem;
     margin-left: 10%;
   }

   .avatar-container {
     flex: 0;
     padding-left: 5%;
     padding-right: 2%;
   }

   .profile-description {
     font-style: italic;
   }

   .content-container {
     flex: 3;
   }

   .bottom-divs {
     flex-basis: 100%;
     margin: auto;
     padding: 2%;
     display: flex;
     gap: 2rem;
     justify-content: space-evenly;
     width: 70%;
   }

   .content {
     flex-wrap: wrap;
   }

   .bottom-arrow1 {
     width: 10%;
     height: 1%;
     position: relative;
     margin-bottom: 2% auto;
   }

   .bottom-arrow:after {
     content: '';
     position: absolute;
     left: 0;
     right: 0;
     margin: 0 auto;
     width: 0;
     height: 0;
     border-top: 25px solid #31CAE5;
     border-left: 50px solid transparent;
     border-right: 50px solid transparent;
   }

   .minion_grid {
     display: grid;
     padding-top: 5%;
     grid-template-columns: auto auto auto;
   }

   .minion img {
     width: 80%;
   }

   .minionbreak {
     flex-basis: 100%;
     height: 0%;
     width: 100%;
   }

   .minionbreak img {
     width: 80%;
   }

   .logo-container img {
     width: 35%;
     height: 15%;
   }

   span {
     color: #31CAE5;
   }

   .tweet {
     display: flex;
     flex-wrap: wrap;
     padding-top: 2%;
   }

   .tweet-container {
     flex: 1;
   }

   .last img {
     width: 95%;
   }

   .colours {
    display: flex;
    justify-content: flex-end;
    width: 86%;
   }

   .colours img {
    width: 40%;
   }

   html {
     display: flex;
     color: #222;
     font-size: 2rem;
     line-height: 1.4;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }